/****** Colors ******/

// Themed
$color-green: #244D4D;
$color-beige: #D6C4B8;

// Based
$color-white: #FFFFFF;
$color-grey-1: #F4F6F6;
$color-light-grey-1: #E9E9E9;
$color-grey-2: #A1A6BA;
$color-grey-3: #5F5F64;
$color-grey-4: #3D3D3F;
$color-grey-5: #64717C;
$color-dark-grey-1: #647383;
$color-black: #242424;

// Transition Timing
$smooth: cubic-bezier(0, .05, .15, 1);
